.order-window{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff8a;
    /* position: relative; */
    z-index: 1000000;
}

.order-window__content{
    width: 800px;
    height: 500px;
    background-color: #ffffff;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #e8e8e8;
    margin-top: 50px;
   
}

.order-window__content{
    padding: 0 50px 0 50px;
}

.order-window__date_pickers{
    display: flex;
    flex-direction: column;

}

.order-window__date_pickers p{
    text-align: left;
}

.order-window__close{
    text-align: right;
    font-weight: bold;
    font-size: 36px;
    cursor: pointer;
    color: #0e2d8b;
    margin-bottom: 0;
}

.order-window__title{
    margin-top: 0;
}

.order-window__actions{
    display: flex;
    justify-content: space-between;
}

.vertical-line{
    min-width: 2px;
    min-height: 100%;
    background-color: #b9b9b9;
}

.order-window__rent-sum{
    border-color: #b9b9b9;
    border-style: solid;
    border-radius: 5px;
    width: 30%;
    padding: 15px;
}

.order-window__to-pay{
    text-align: left;
}

.order-window__to-pay_currency{
    text-align: left;
}