.order-window {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff8a;
    /* position: relative; */
    z-index: 1000000;
}

.order-window__content {
    max-width: 800px;
    min-height: 500px;
    background-color: #ffffff;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #e8e8e8;
    margin-top: 50px;
    padding: 0 50px 70px 50px;
}

.order-window__date_pickers {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.order-window__date_pickers p {
    text-align: left;
}

.order-window__close {
    text-align: right;
    font-weight: bold;
    font-size: 36px;
    cursor: pointer;
    color: #0e2d8b;
    margin-bottom: 0;
}

.order-window__title {
    margin-top: 0;
}

.order-window__actions {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.vertical-line {
    display: none;
    min-width: 2px;
    min-height: 100%;
    background-color: #e1e1e1;
}

.order-window__rent-sum {
    border-radius: 5px;
    max-width: 100%;
    padding: 15px;
    margin-top: 20px;
    margin: auto;
}

.order-window__to-pay {
    text-align: left;
}

.order-window__to-pay_currency {
    text-align: left;
}

.pay-pal-button {
    border-style: none;
    border-radius: 5px;
    background-color: #fff700;
    color: #0e2d8b;
    font-style: italic;
    font-family: var(--font-family-jakarta);
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    max-width: 220px;
    padding: 5px 10px 10px 50px;
    height: 50px;
    transition: 0.3s;
}


.pay-pal-button:hover {
    background-color: #dbd300;
}

.pay-pal-info{
    font-family: var(--font-family-jakarta);
    color: #b0b0b0;
    font-size: 12px;
    text-align: left;
    text-align: center;
    margin-top: 4px;
}

.pay-pal_style{
    color: #2352e1;
    display: inline;
    font-weight: 900;
    margin-right: 50px;
}

@media (min-width: 568px) {
    .order-window__actions {
        flex-direction: row;
    }

    .order-window__rent-sum {
        max-width: 45%;
        border-color: #e1e1e1;
        border-style: solid;
    }

    .order-window__date_pickers{
        max-width: 45%;
    }
}